.sobre{
    background: var(--fundo);
    display: flex;
    justify-content: space-around;
    padding: 40px 60px 0 60px;
}

.sobreInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px; 
}

.sobre h2{
    font-size: var(--titulo);
    font-weight: 700;
    margin-bottom: 10px;
}

.sobre p{
    font-size: var(--corpo-texto);
    margin-bottom: 5px;
}

.sobre span{
    display: flex;
    align-items: flex-end;
    gap: 40px;
    margin-top: 40px;
}

.sobre img{
    width: 600px;
    height: 240px;
}

.missao{
    background-color: var(--fundo-secundario);
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 60px;
    width: 100%;
    padding: 80px 60px;
    flex-wrap: wrap;
}

.cardMissao{
    background-color: var(--branco);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 10px 0px 5px rgba(0, 0, 0, 0.07);
}

.cardMissao p{
    font-size: 12px;
    font-weight: 500;
    text-align: center;
}

.cardMissao img{
    width: 60px;
    margin-bottom: 10px;
}

.cuida{
    background: var(--fundo);
    display: flex;
    justify-content: space-around;
    padding: 80px 60px;
}

.cuidaInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
}

.cuida h2{
    font-size: var(--titulo);
    font-weight: 700;
    margin-bottom: 10px;
}

.cuida p{
    font-size: var(--corpo-texto);
    font-weight: var(--forte);
    margin-bottom: 5px;
}

.cuidaImg{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.cuiador{
    width: 350px;
    height: 250px;
    border-radius: 8px;
}