@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background: var(--cinza);
    color: #393833;
}

/*Ele serve principalmente pra você criar variáveis CSS.*/
:root{
    --cinza-forte: #D4D3D3;  
    --cinza: #F5F5F5;  
    --branco: #ffffff;         
    --marrom-forte: #393833;    
    --laranja: #FF8740;   
}

header{
    background-color: var(--cinza-forte);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    border: solid orange;
}

.logo{ 
    display: flex; 
    align-items: center; 
    font-weight: 700; 
    font-size: 24px; 
    color: var(--marrom-escuro);
}

.logo img { 
    /* Troque o 40px pelo tamanho que preferir */
    height: 80px; 
    /* Use width: auto para a imagem não achatar */
    width: auto; 
    margin-right: 10px; 
    /* Garante que a imagem se comporte bem */
    object-fit: contain; 
}

.navLinks a{
    text-decoration: none;
    color: var(--marrom-escuro);
    margin: 0 15px;
    font-weight: 600;
}

.headerButtons .buttonsDoe, .headerButtons .buttonsEntrar {
    background-color: var(--laranja);
    color: white;
    padding: 5px 20px;
    border-radius: 8px;
    text-decoration: none;
    margin-left: 10px;
    font-weight: 600;
    display: inline-block;
}

.adocao{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    padding: 0px 80px;
}

.bannerText {
    max-width: 500px;
}

.bannerText h1{
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2;
}

.bannerText p{
    margin-top: 15px;
    font-size: 18px;
}


.menu{
    width: 85%;
    margin: -50px auto 40px; /* faz ele subir no banner */
    padding: 15px 20px;
    background-color: var(--cinza-forte);
    border-radius: 40px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    display: flex;
    align-items: center;
    gap: 15px;
}

.buscaBox{
    flex: 1; /* ocupa mais espaço */
    display: flex;
    align-items: center;
    gap: 10px;
    background: #ffffff;
    padding: 10px 15px;
    border-radius: 30px;
}

.buscaBox input{
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
    font-size: 14px;
}

.select_box{
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

.icon_busca img{
    width: 16px;
    opacity: 0.6;
}

.select_box select{
    border: none;
    outline: none;
    background: var(--cinza-forte);
    padding: 8px 12px;
    border-radius: 10px;
    margin-top: 5px;
    cursor: pointer;
}

.cardPet{
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    background-color: var(--branco);
    border-radius: 12px;
    padding: 15px 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.25);
    text-align: center;
    transition: 0.3s ease;
}

.card:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.40);
}

.pets{
    display: grid;
    grid-template-columns: repeat(6, 200px); 
    gap: 70px;
    padding: 20px;
    justify-content: center; 
    margin: 0 auto;
}

.cardPet img{
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
}

.info{
    margin-top: 8px;
    text-align: left;
}

.info h3{
    font-size: 16px;
    margin: 5px 0;
}

.info p{
    font-size: 12px;
    margin-bottom: 8px;
}

.buttonCard{
    width: 100%;
    padding: 6px;
    border: none;
    border-radius: 8px;
    background: var(--laranja);
    color: white;
    font-size: 12px;
    cursor: pointer;
    font-weight: 600;
}

.footer{
    background-color: var(--marrom-forte);
}

.footer2{
    display: flex;
    gap: 100px;
    padding: 1.5% 0 0.4% 10%;
    color: var(--cinza);
}

.footerLogo img{ 
    width: 100px;
}

.footerColumn{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footerColumn p{
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--cinza);
}