
body{
    font-family: 'Poppins', sans-serif;
    background-image: url("../assets/pets/fundo3.png");
    color: var(--texto);
    overflow-x: hidden;
}

.menu {
    background-color: var(--branco);
    display: flex;
    flex-direction: center;
    justify-content: center;
    gap: 18px;
    width: 600px;
    max-width: 800px;
    margin: 80px auto 0 auto;
    padding: 20px 18px;
    backdrop-filter: blur(14px);
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(57, 56, 51, 0.06);
    position: relative;
    z-index: 10;
}

.filtro{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.filtro label{
    font-size: var(--corpo-texto);
    padding-left: 4px;
}

.filtro select{
    font-size: 12px;
    width: 100px;
    height: 40px;
    padding: 0 14px;
    border-radius: 10px;
    border: 2px solid var(--detalhes);
    cursor: pointer;
    transition: 0.2s ease;
}

.filtro select:focus{
    outline: none;
    border: 2px solid var(--button);
}

.pets{
    display: grid;
    justify-content: center; 
    grid-template-columns: repeat(6, 200px); 
    gap: 70px;
    margin: 80px;
    padding: 20px;
}

.cardPet{
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    background-color: var(--branco);
    border-radius: 12px;
    padding: 15px 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.25);
    transition: 0.3s ease;
}

.cardPet:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.40);
}

.cardPet img{
    width: 100%;
    max-width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.cardInfo{
    margin-top: 8px;
    text-align: left;
}

.cardInfo h3{
    font-size: var(--corpo-texto);
    font-weight: 600;
    margin: 5px 0;
}

.cardInfo p{
    font-size: 12px;
    margin-bottom: 8px;
}

.buttonCard {
    display: inline-flex;   
    align-items: center;     
    justify-content: center; 
    width: 100%;
    height: 30px;
    padding: 6px;
    border: none;
    border-radius: 8px;
    background: var(--button);
    color: var(--branco);
    font-size: 12px;
    cursor: pointer;
    font-weight: 700;
    text-decoration: none;   
    box-sizing: border-box;  
}