@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 500;
}

body{
    font-family: 'Poppins', sans-serif;
    background: var(--cinza);
    color: var(--marrom-forte);
    font-size: 16px;
}

/*Ele serve principalmente para criar variáveis CSS.*/
:root{
    --verde-claro: #8FAE9E;  
    --cinza: #F5F5F5;  
    --branco: #ffffff;         
    --marrom-forte: #393833;    
    --laranja: #FF8740;   
}

.adocao{
    background-color: var(--verde-claro);
    padding: 10%;
}

.formAdocao{
    display: flex;
    flex-direction: column;

}